<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkyeTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SkyeTimer.Properties.Settings>
            <setting name="textcolor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ringcolor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ringprogresscolor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bgcolorA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bgcolorB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="btncolorA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="btncolorB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fontname" serializeAs="String">
                <value />
            </setting>
            <setting name="fontsize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fontstyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bggradtype" serializeAs="String">
                <value />
            </setting>
            <setting name="btngradtype" serializeAs="String">
                <value />
            </setting>
            <setting name="beeper" serializeAs="String">
                <value>True</value>
            </setting>
        </SkyeTimer.Properties.Settings>
    </userSettings>
</configuration>